@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-300
}
.container{
@apply !max-w-[1326px] md:!px-0 !px-3 mx-auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
  table-layout: fixed;
  width: 100%;
}
th {
  padding: 2px 4px;
  text-align: left;
}

td {
  padding: 6px;
}
